<mat-card class="create-card">

  <mat-card-header>
    <mat-card-title>Detalles Proyecto</mat-card-title>
  </mat-card-header>

  <app-project-form [editMode]="editMode" [initData]="proj"></app-project-form>

  <div class="form-group">
    <button mat-raised-button color="primary" *ngIf="!editMode" (click)="edit()">Edit</button>
    <button mat-raised-button color="primary" *ngIf="!editMode" (click)="delete(proj._id)">Delete</button>
    <button mat-raised-button color="primary" *ngIf="editMode" (click)="update(proj._id)">Save</button>
  </div>
</mat-card>