.content-card {
    padding: 20px;
}

.loc {
	height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.edit-map{
    height: 300px;
    width: 500px;
} 

.loc-int {
	margin-left: auto;
	margin-right: auto;
	display: block;
}