<mat-card class="card">

  <mat-card-header>
    <h2>Detalles Proyecto</h2>
  </mat-card-header>
  <mat-divider></mat-divider>

  <app-project-form [editMode]="editMode" [adminMode]="adminUser" [initData]="proj"></app-project-form>

  <div fxLayout="row" fxLayoutGap="20px" class="buttons-card">
    <button mat-raised-button class="custom-button" color="primary" *ngIf="!editMode && adminUser" (click)="edit()">Edit</button>
    <button mat-raised-button class="custom-button" color="primary" *ngIf="!editMode && adminUser" (click)="delete(proj._id)">Delete</button>
    <button mat-raised-button class="custom-button" color="primary" *ngIf="editMode && adminUser" (click)="update(proj._id)">Save</button>
  </div>

</mat-card>