<div class="mat-elevation-z8 table-list">
  <table mat-table matSort [dataSource]="projects" class="full-width">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@list.title">Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef i18n="@@list.details">Details</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/project-details', element._id]" i18n="@@list.show">Show details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['title', 'details']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['title', 'details'];"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]"></mat-paginator>
</div>