<mat-card-content class="content-card">

  <form [formGroup]="form" fxLayout="column">

    <mat-form-field>
      <input matInput type="text" placeholder="Title" i18n-placeholder="@@form.placeholder.title" formControlName="title"
        required>
      <mat-error *ngIf="form.get('title').hasError('required')" i18n="@@form.required.field">
        Required field
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field>
        <mat-select placeholder="Subject" formControlName="subject" required i18n-placeholder="@@form.placeholder.subject">
          <mat-option *ngFor="let sub of selectables.get('subjs')" [value]="sub">{{sub}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('subject').hasError('required')" i18n="@@form.required.field">
          Required field
        </mat-error>
      </mat-form-field>
      <button type="button" mat-button matSuffix mat-icon-button matTooltip="Edit subjects" i18n-matTooltip="@@form.mattooltip.edit.subjects"
        matTooltipPosition="above" (click)="editSelectable(button_s, 'subjs')" *ngIf="_editMode && adminMode" #button_s>
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
    </div>

    <mat-form-field>
      <textarea matInput rows=5 placeholder="Purpose" formControlName="purpose" required i18n-placeholder="@@form.placeholder.purpose"></textarea>
      <mat-error *ngIf="form.get('purpose').hasError('required')" i18n="@@form.required.field">
        Required field
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field>
        <mat-select placeholder="Target Population" formControlName="target_population" multiple required
          i18n-placeholder="@@form.placeholder.target.pop">
          <mat-option *ngFor="let pop of selectables.get('target_pop')" [value]="pop">{{pop}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('target_population').hasError('required')" i18n="@@form.required.field">
          Required field
        </mat-error>
      </mat-form-field>
      <button type="button" mat-button matSuffix mat-icon-button matTooltip="Edit target population" matTooltipPosition="above"
        i18n-matTooltip="@@form.matTooltip.target.pop" (click)="editSelectable(button_t, 'target_pop')" *ngIf="_editMode && adminMode"
        #button_t>
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
    </div>

    <mat-form-field>
      <input matInput type="text" placeholder="Place" i18n-placeholder="@@form.placeholder.place" formControlName="place">
    </mat-form-field>

    <div class="loc" *ngIf="!_editMode">
      <img class="loc-int" src="https://maps.googleapis.com/maps/api/staticmap?center={{form.get('location').get('coordinates').get('0').value}},{{form.get('location').get('coordinates').get('1').value}}&&markers={{form.get('location').get('coordinates').get('0').value}},{{form.get('location').get('coordinates').get('1').value}}&zoom=14&size=500x300&key={{googleMapApiKey}}">
    </div>

    <div formGroupName="location">
      <div formArrayName="coordinates" fxLayout="column">

        <div class="loc" *ngIf="_editMode" fxLayout="column">

          <agm-map class="loc-int edit-map" [latitude]="latMap" [longitude]="lngMap" [zoom]="zoomMap"
            [streetViewControl]="false" (mapDblClick)="mapClicked($event)">
            <agm-marker [latitude]="form.get('location').get('coordinates').get('0').value" [longitude]="form.get('location').get('coordinates').get('1').value">
            </agm-marker>
          </agm-map>

          <mat-form-field>
            <input matInput type="text" placeholder="Search" i18n-placeholder="@@form.map.search" autocorrect="off"
              autocapitalize="off" spellcheck="off" #search>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="25px">
          <mat-form-field>
            <input matInput type="number" placeholder="Latitude" i18n-placeholder="@@form.placeholder.lat"
              formControlName="0" [readonly]="true" required>
            <mat-error *ngIf="form.get('location').get('coordinates').get('0').hasError('required')" i18n="@@form.required.field">
              Required field
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Longitude" i18n-placeholder="@@form.placeholder.lng"
              formControlName="1" [readonly]="true" required>
            <mat-error *ngIf="form.get('location').get('coordinates').get('1').hasError('required')" i18n="@@form.required.field">
              Required field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <h3 i18n="@@form.referent">Referent</h3>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field>
        <mat-select placeholder="University" i18n-placeholder="@@form.placeholder.ref.uni" formControlName="university"
          required>
          <mat-option>-</mat-option>
          <mat-option *ngFor="let uni of selectables.get('universities')" [value]="uni">{{uni}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('university').hasError('required')" i18n="@@form.required.field">
          Required field
        </mat-error>
      </mat-form-field>
      <button type="button" mat-button matSuffix mat-icon-button i18n-matTooltip="@@form.matTooltip.edit.uni"
        matTooltip="Edit universities" matTooltipPosition="above" (click)="editSelectable( button_u, 'universities')"
        *ngIf="_editMode && adminMode" #button_u>
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field>
        <input matInput i18n-placeholder="@@form.placeholder.ref.fullname" placeholder="Full name" formControlName="ref_name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Title" i18n-placeholder="@@form.placeholder.ref.title" formControlName="ref_title">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="ref_mail" i18n-placeholder="@@form.placeholder.ref.mail">
        <mat-error *ngIf="form.get('ref_mail').hasError('email')" i18n="@@form.valid.email">
          Enter a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone" i18n-placeholder="@@form.placeholder.ref.phone" formControlName="ref_phone">
      </mat-form-field>
    </div>
  </form>

</mat-card-content>