<mat-card-content class="content-card">

  <form [formGroup]="form" (ngSubmit)="saveProject()" fxLayout="column">

    <mat-form-field>
      <input matInput type="text" placeholder="Titulo" formControlName="title" required>
      <mat-error *ngIf="form.get('title').hasError('required')">
        Campo requerido
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field>
        <mat-select placeholder="Temática" formControlName="subjects" multiple required>
          <mat-option *ngFor="let sub of selectables.get('subjs')" [value]="sub">{{sub}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('subjects').hasError('required')">
          Campo requerido
        </mat-error>
      </mat-form-field>
      <button type="button" mat-button matSuffix mat-icon-button matTooltip="Editar temáticas" matTooltipPosition="above"
        (click)="editSelectable('Editar Temáticas', 'subjs')" *ngIf="_editMode">
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
    </div>


    <mat-form-field>
      <textarea matInput rows=5 placeholder="Objetivo" formControlName="purpose" required></textarea>
      <mat-error *ngIf="form.get('purpose').hasError('required')">
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Población objetivo" formControlName="target_population">
    </mat-form-field>

    <div class="loc" *ngIf="!_editMode">
      <img class="loc-int" src="https://maps.googleapis.com/maps/api/staticmap?center={{form.get('location').get('coordinates').get('0').value}},{{form.get('location').get('coordinates').get('1').value}}&&markers={{form.get('location').get('coordinates').get('0').value}},{{form.get('location').get('coordinates').get('1').value}}&zoom=14&size=500x300&key=AIzaSyA0TQ6QmZqwlj5I7mmbs5yjvRH7dz8zdeA">
    </div>

    <div formGroupName="location">
      <div formArrayName="coordinates" fxLayout="column">

        <div class="loc" *ngIf="_editMode" fxLayout="column">

          <agm-map class="loc-int edit-map" [latitude]="latMap" [longitude]="lngMap" [zoom]="zoomMap"
            [streetViewControl]="false" (mapDblClick)="mapClicked($event)">
            <agm-marker [latitude]="form.get('location').get('coordinates').get('0').value" [longitude]="form.get('location').get('coordinates').get('1').value">
            </agm-marker>
          </agm-map>

          <mat-form-field>
            <input matInput type="text" placeholder="Buscar" autocorrect="off" autocapitalize="off" spellcheck="off"
              #search>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="25px">
          <mat-form-field>
            <input matInput type="number" placeholder="Latitud" formControlName="0" [readonly]="true" required>
            <mat-error *ngIf="form.get('location').get('coordinates').get('0').hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Longitud" formControlName="1" [readonly]="true" required>
            <mat-error *ngIf="form.get('location').get('coordinates').get('1').hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <h3>Referente</h3>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field>
        <mat-select placeholder="Universidad" formControlName="university" required>
          <mat-option>-</mat-option>
          <mat-option *ngFor="let uni of selectables.get('universities')" [value]="uni">{{uni}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('university').hasError('required')">
          Campo requerido
        </mat-error>
      </mat-form-field>
      <button type="button" mat-button matSuffix mat-icon-button matTooltip="Editar universidades" matTooltipPosition="above"
        (click)="editSelectable('Editar Universidades', 'universities')" *ngIf="_editMode">
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field>
        <input matInput placeholder="Nombre y Apellido" formControlName="ref_name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cargo" formControlName="ref_title">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="ref_mail">
        <mat-error *ngIf="form.get('ref_mail').hasError('email')">
          Ingrese un email válido
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Teléfono" formControlName="ref_phone">
      </mat-form-field>
    </div>
  </form>

</mat-card-content>