<mat-drawer-container autosize>
    <mat-drawer *ngIf="selectedProject" [opened]="true" mode="side" class="sidenav-content">
        <div class="close_row">
            <mat-icon class="close_icon" (click)="closeSidenav()">close</mat-icon>
        </div>
        <mat-card class="card">
            <mat-card-content class="content-card">
                <h2>{{selectedProject.title}}</h2>

                <hr class="separator">

                <h3 i18n="@@map.purpose">Purpose</h3>
                <div class="row">
                    {{selectedProject.purpose}}
                </div>

                <div class="lastrow"></div>

                <div class="row" *ngIf="selectedProject.link">
                    <a i18n="@@map.more.link" href="{{selectedProject.link}}" target="_blank">More information</a>
                </div>

                <div class="row" *ngIf="selectedProject.subject">
                    <div class="lastrow"></div>
                    <div class="lastrow"></div>
                    <b i18n="@@map.subject">Subject: </b>{{selectedProject.subject}}
                </div>

                <div class="row" *ngIf="selectedProject.place">
                    <div class="lastrow"></div>
                    <div class="lastrow"></div>
                    <b i18n="@@map.place">Place: </b>{{selectedProject.place}}
                </div>

                <div class="row" *ngIf="selectedProject.subject">
                    <div class="lastrow"></div>
                    <div class="lastrow"></div>
                    <b i18n="@@map.target.pop">Target population: </b>{{selectedProject.target_population}}
                    <div class="lastrow"></div>
                </div>

                <div class="row" *ngIf="selectedProject.from_date">
                    <div class="lastrow"></div>
                    <b i18n="@@map.start">Start: </b>{{selectedProject.from_date | date:'dd-MM-yyyy'}}
                </div>

                <div class="row" *ngIf="selectedProject.to_date">
                    <div class="lastrow"></div>
                    <b i18n="@@map.end">End: </b>{{selectedProject.to_date | date:'dd-MM-yyyy'}}
                </div>

                <div class="lastrow"></div>

                <hr class="separator">

                <h3 i18n="@@map.target.ref">Referent</h3>
                <div class="row">
                    <mat-icon class="icon">school</mat-icon>
                    {{selectedProject.university}}
                </div>
                <div class="row" *ngIf="selectedProject.ref_name">
                    <mat-icon class="icon">person_outline</mat-icon>
                    {{selectedProject.ref_name}}
                </div>
                <div class="row" *ngIf="selectedProject.ref_title">
                    <mat-icon class="icon">title</mat-icon>
                    {{selectedProject.ref_title}}
                </div>
                <div class="row" *ngIf="selectedProject.ref_phone">
                    <mat-icon class="icon">phone</mat-icon>
                    {{selectedProject.ref_phone}}
                </div>
                <div class="row" *ngIf="selectedProject.ref_mail">
                    <mat-icon class="icon">email</mat-icon>
                    {{selectedProject.ref_mail}}
                </div>

            </mat-card-content>
        </mat-card>

    </mat-drawer>
    <mat-drawer-content>
        <div #map class="map"></div>

        <form [formGroup]="form">
            <mat-card-content>
                <div class="custom-mat-form-field">
                    <mat-form-field appearance="outline" class="floating-searcher">
                        <mat-label i18n="@@map.filter">Filter</mat-label>
                        <input matInput type="text" formControlName="filterInput"
                            i18n-placeholder="@@map.placeholder.filter" placeholder="Project, referent..."
                            (keyup.enter)="filter()" autocomplete="off" #filterIn>

                        <mat-icon matPrefix>search</mat-icon>
                        <button mat-button *ngIf="filterIn.disabled" matSuffix mat-icon-button (click)="clearFilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="floating-subject">
                        <mat-icon matPrefix>subject</mat-icon>
                        <mat-select (selectionChange)="filter()" placeholder="Subject" formControlName="subject"
                            i18n-placeholder="@@form.placeholder.subject">
                            <mat-option>-</mat-option>
                            <mat-option *ngFor="let sub of subjects; let i = index;" [value]="sub">
                                <mat-icon matPrefix [ngStyle]="{'color': subjectColor(i)}" svgIcon="marker">
                                </mat-icon>
                                {{sub}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="floating-uni">
                        <mat-icon matPrefix>school</mat-icon>
                        <mat-select (selectionChange)="filter()" placeholder="University" formControlName="university"
                            i18n-placeholder="@@form.placeholder.university">
                            <mat-option>-</mat-option>
                            <mat-option *ngFor="let uni of universities" [value]="uni">{{uni}}</mat-option>
                        </mat-select>
                        <mat-hint class="red-hint" *ngIf="noResults" i18n="@@form.filter.no.results">No results
                        </mat-hint>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </form>
    </mat-drawer-content>
</mat-drawer-container>