.map {
  height: calc(100vh - 64px);
  width: 100%;
}

.sidenav-content {
  display: flex;
  height: 100%;
  width: 400px;
}

.content-card {
  padding: 20px;
}

.floating-searcher {
  right: 1em;
  margin-top: 0 !important;
  position: absolute;
  top: 1em;
  min-width: 300px;
  z-index: 100;
}

.card {
  margin: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  font-size: 15px;
}

.close_row {
  width: 100%;
  clear:both;
  overflow:hidden;
  
}

.close_icon {
  padding-top: 8px;
  float:right;
  font-size: 18px;
  cursor: pointer;
}

.row {
  display: inline-block;
  align-items: center;
  width: 100%;
  margin: 0;
}

.separator{
  display: block;
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}