<mat-drawer-container autosize>
    <mat-drawer *ngIf="selectedMarker" [opened]="true" mode="side" class="sidenav-content">
        <div class="close_row">
            <mat-icon class="close_icon" (click)="closeSidenav()">close</mat-icon>
        </div>
        <mat-card class="card">
            <mat-card-content class="content-card">
                <h2>{{selectedMarker.title}}</h2>

                <hr class="separator">

                <h3 i18n="@@map.subject">Subject</h3>
                <div class="row">
                    {{selectedMarker.subject}}
                </div>

                <h3 i18n="@@map.purpose">Purpose</h3>
                <div class="row">
                    {{selectedMarker.purpose}}
                </div>

                <h3 i18n="@@map.target.pop">Target population</h3>
                <div class="row">
                    {{selectedMarker.target_population}}
                </div>

                <hr class="separator">

                <h3 i18n="@@map.target.ref">Referent</h3>
                <div class="row">
                    <mat-icon class="icon">person_outline</mat-icon>
                    {{selectedMarker.ref_name}}
                </div>
                <div class="row">
                    <mat-icon class="icon">title</mat-icon>
                    {{selectedMarker.ref_title}}
                </div>
                <div class="row">
                    <mat-icon class="icon">phone</mat-icon>
                    {{selectedMarker.ref_phone}}
                </div>
                <div class="row">
                    <mat-icon class="icon">email</mat-icon>
                    {{selectedMarker.ref_mail}}
                </div>

            </mat-card-content>
        </mat-card>

    </mat-drawer>
    <mat-drawer-content>
        <agm-map [fitBounds]="fitBounds" [streetViewControl]="false" class="map" [latitude]="mapLat" [longitude]="mapLng">
            <agm-marker-cluster imagePath="/assets/images/cluster/m">
                <div *ngFor="let marker of markers">
                    <div *ngIf="marker != selectedMarker">
                        <agm-marker [agmFitBounds]="fitBounds" iconUrl="/assets/images/markers/marker_blue.png"
                            [latitude]="marker.location.coordinates[0]" [longitude]="marker.location.coordinates[1]"
                            (markerClick)="clickedMarker(marker)">
                        </agm-marker>

                    </div>
                    <div *ngIf="marker == selectedMarker">
                        <agm-marker [agmFitBounds]="fitBounds" iconUrl="/assets/images/markers/marker_orange.png"
                            [latitude]="marker.location.coordinates[0]" [longitude]="marker.location.coordinates[1]"
                            (markerClick)="clickedMarker(marker)">
                        </agm-marker>
                    </div>
                </div>
            </agm-marker-cluster>
        </agm-map>

        <form [formGroup]="form">
            <mat-card-content>
                <div class="custom-mat-form-field ">
                    <mat-form-field appearance="outline" class="floating-searcher">
                        <mat-label i18n="@@map.filter">Filter</mat-label>
                        <input matInput type="text" formControlName="filterInput" i18n-placeholder="@@map.placeholder.filter"
                            placeholder="Project, referent..." (keyup.enter)="filter()" autocomplete="off" #filterIn>
                        <mat-icon matPrefix>search</mat-icon>
                        <button mat-button *ngIf="filterIn.disabled" matSuffix mat-icon-button (click)="clearFilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </form>
    </mat-drawer-content>
</mat-drawer-container>