<mat-drawer-container autosize>
    <mat-drawer *ngIf="opened" [opened]="opened" mode="side" class="sidenav-content">

        <mat-card class="card">
            <mat-card-content class="content-card">
                <h2>{{selectedMarker.title}}</h2>

                <hr class="separator">

                <h3>Información del proyecto</h3>
                <div class="row">
                    {{selectedMarker.subject}}
                </div>

                <hr class="separator">

                <h3>Referente</h3>
                <div class="row">
                    <mat-icon class="icon">person_outline</mat-icon>
                    {{selectedMarker.ref_name}}
                </div>
                <div class="row">
                    <mat-icon class="icon">phone</mat-icon>
                    {{selectedMarker.ref_phone}}
                </div>
                <div class="row">
                    <mat-icon class="icon">email</mat-icon>
                    {{selectedMarker.ref_mail}}
                </div>

            </mat-card-content>
        </mat-card>

    </mat-drawer>

    <agm-map [fitBounds]="true" [streetViewControl]="false" class="map">
        <agm-marker-cluster imagePath="/assets/cluster-images/m">
            <agm-marker *ngFor="let marker of markers" [agmFitBounds]="true" [latitude]="marker.location.coordinates[0]"
                [longitude]="marker.location.coordinates[1]" (markerClick)="clickedMarker(marker)">
            </agm-marker>
        </agm-marker-cluster>
    </agm-map>

    <form [formGroup]="form">
        <mat-card-content>
            <div class="custom-mat-form-field ">
                <mat-form-field appearance="outline" class="floating-searcher">
                    <mat-label>Filtrar</mat-label>
                    <input matInput type="text" formControlName="filterInput" placeholder="Proyecto, referente..."
                        (keyup.enter)="filter()">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            </div>
        </mat-card-content>
    </form>
</mat-drawer-container>