<div class="container">
  <div>
    <h1>Lista de proyectos</h1>
    <a [routerLink]="['/crud/project-create']" class="btn btn-outline-primary">
      ADD
    </a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proj of projects">
        <td>{{ proj.title }}</td>
        <td><a [routerLink]="['/crud/project-details', proj._id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>